<!DOCTYPE html>
html(lang='ja')
  head
    meta(charset='UTF-8')
    title!= title
    link(rel='stylesheet', href='stylesheets/style.css')
    - if (ua)
      script(src='http://hkiy.tumblr.com/api/read/json?num=8&type=photo')
    - else
      script(src='http://hkiy.tumblr.com/api/read/json?num=20&type=photo')
    script(src='javascripts/index_bundle.js')
  body
    .background#js-background
      
    .content
      .title
        h1.title__text
          a(href="/") #{title}
        p.title__description #{description}
        
      .button#js-button 早く帰ってイカやりてぇ
        
      p.counter
        | You are the
        span.counter__strong#js-count #{id}
        span.counter__ordinal#js-ordinal
        | HKIY.