<!DOCTYPE html>
html(lang='ja')
  head
    meta(charset='UTF-8')
    title!= title
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/lib/jquery.min.js')
    script(src='javascripts/index.js')
  body
    h1 #{title}
    p #{description}
    p
      span#js-count #{id}
      span#js-ordinal
    .button#js-button button