// color
$color_white = #fff
$color_black = #000
$color_lightGray = #fafafa
$color_darkGray = #999
$color_gray = #e3e5ec
$color_blue = #0041f3


// bg color
$bgColor_default = $color_black
$bgColor_inverse = $color_white
$bgColor_selection = $color_white
$bgColor_button = $color_blue
$bgColor_buttonDisable = $color_darkGray

// text color
$textColor_default = $color_white
$textColor_inverse = $color_black
$textColor_link = $color_white
$textColor_sub = $color_darkGray
$textColor_selection = $color_blue


// font family
$fontFamily_default = ProximaNova, 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, NotoSansJapanese, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif


// font size
$fontSize_default = rem(14px)


// line height
$lineHeight_default = 1.7
$lineHeight_title = 1.35


// letter spacing
$letterSpacing_default = 0.15em


// media query
$mq_sp = only screen, max-width 399px